{% extends 'base.html.twig' %} {% block title %}Mot de passe oublié{% endblock
%} {% block body %} {% include "components/_navbar.html.twig" %}
{% for flash in app.flashes('warning') %}
<div class="alert alert-danger">{{ flash }}</div>
{% endfor %}
<div class="container">
  <h1>Mot de passe oublié :</h1>
  <article>
    {{ form(form) }}
  </article>
</div>
{% include "components/_footer.html.twig" %} {% endblock %}
