{% extends 'base.html.twig' %} {% block title %}Nouveau mot de passe{% endblock
%} {% block body %} {% include "components/_navbar.html.twig" %}
<div class="container">

    <article style="text-align: center; margin: 3rem auto;">
        <h1 style="color: white; text-shadow: 2px 2px 2px #232323;">Réinitialisation du mot de passe</h1>
        <p style="color: white; text-shadow: 2px 2px 2px #232323;">Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
        <form method="post">
          <label for="inputPassword" style="text-shadow: 2px 2px 2px #232323;">Nouveau mot de passe</label>
          <input
            type="password"
            name="password"
            id="inputPassword"
            placeholder="Mot de passe"
            required
          />
          <input type="hidden" name="token" value="{{ token }}" />
          <button type="submit" id="valider">Valider le mot de passe</button>
        </form>
      </article>

</div>

{% include "components/_footer.html.twig" %} {% endblock %}
