{% set username = comment.user.username %}
<div class="comment-container" id="{{ comment.id }}">

    <div>
        <span>{{ username }}: </span>
        <span>{{ comment.createdAt|date('d M Y à H:i:s') }}</span>
    </div>

    <p>{{comment.content}}</p>
</div>
