/* colors */
$black: #212121;
$pink: #f8bbd0;
$gray: rgb(200, 200, 200);
$black-nav: #424242;
$orange: #e9a410;
$success: #8df1a4;
$danger: rgb(255, 183, 183);

/* shadow */
$shadow-nav: 0px 3px 5px 0px $black-nav;
$shadow-nav-title: 2px 2px 2px $pink;
$shadow-mobile: 0 0 3px 0 rgba(0, 0, 0, .07), 0 2px 2px 0 rgba(0, 0, 0, .04);
$shadow: 0 2px 8px 0 rgb(0 0 0 / 25%), 0 3px 7px 6px rgb(0 0 0 / 5%);

// modal
$closeModal: rgba(255, 74, 74, 0.877);
$backgroundModal:rgba(255, 255, 255, 0.924);
