body {

    .flash-warning {

        background-color: $danger;
        text-align: center;
    }

    .alert-success {

        z-index: -100;
        background-color: $success;
        text-align: center;
    }
}