form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {

        color: white;
    }
    
    article {

        background-image: url('../../img/puff.jpg');

        input {

            background-color: opacify($color: #ffffff8c, $amount: 0);
            border: 1px solid white;
        }

        label[for=inputUsername],
        label[for=inputPassword] {

            color: $gray;
            font-family: trykker, sans-serif;
        }
    }
}