.container-fluid {

    padding: 0;
    margin: 0;
    position: relative;

    h1.mobile {

       width: auto;
       text-align: center;
       font-family: 'snowboarding', sans-serif;
       font-size: 8rem;
       letter-spacing: .5rem;
       font-weight: normal;
       color: #fff;
       text-shadow:
        0 1px 1px #bbb,
		0 2px 0 #999,
		0 3px 0 #888,
		0 4px 0 #777,
		0 5px 0 #666,
		0 6px 0 #555,
		0 7px 0 #444,
		0 8px 0 #333,
		0 9px 7px #302314;
    }
}

.header {

    top: 0;
    z-index: -100;
    padding: 0;

    img {
        
        position: absolute;
        top: 0;
        left: 0;
        z-index: -100;
        width: 100%;
        margin: auto 0;
    }

    h2 {

        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow:
            1px 3px 0 #fafafa,
            1px 13px 5px #fff;
        font-family: 'Snowboarding', sans-serif;
        color: $black;
        font-weight: 100;
        text-decoration: none;
    }
}