
body {

    form {

        label[for=registration_form_agree] {

            color: $gray;
            text-shadow: $shadow-form-text;
        }

        input[type=checkbox],
        input[type=checkbox]#registration_form_agree:checked + label:before
        {

            border-color: hsl(195deg 85% 41%);
            content: "\2713";
            color: #666666!important;
            background-color: hsl(195deg 85% 41%);
        }

        button#registration_form_Valider {

            margin-top: 1rem;
        }
    }
}