article {

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../img/puff.jpg');
    box-sizing: border-box;
    background-size: cover;

    h2 {

        font-family: russoOne, sans-serif;
        color: white;
    }

    input {

        background-color: opacify($color: #ffffff8c, $amount: 0);
        border: 1px solid white;
    }

    label {

        color: white;
    }

    form {

        label[for=registration_form_agree] {

            color: $gray;
            text-shadow: $shadow-form-text;
        }

        input[type=checkbox],
        input[type=checkbox]#registration_form_agree:checked + label:before
        {

            border-color: hsl(195deg 85% 41%);
            content: "\2713";
            color: #666666!important;
            background-color: hsl(195deg 85% 41%);
        }

        button#registration_form_Valider {

            margin-top: 1rem;
        }
    }

    div:nth-child(5) {

        display: flex;
        flex-direction: row;

        #registration_form_agreeTerms {

            margin-top: 0.5rem;
            margin-left: .5rem;
        }
    }
}