body {

    header {

        span.badge {

            box-shadow: $shadow;
            background-color: #ebedef;
            display: inline-block;
            padding: 0.35em 0.65em;
            font-size: .75em;
            font-weight: 700;
            line-height: 1;
            color: $black;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
        }

        figure {

            position: relative;

            .handle {

                a {

                    text-decoration: none;
                }

                position: absolute;
                top: 1rem;
                right: 1rem;

                i {

                    transition: 0.5s ease-in-out;
                    box-shadow: $shadow;
                    padding: 1rem;
                    background-color: white;
                    border-radius: .5rem;
                    margin: 0 0.5rem;
                    cursor: pointer;

                    &:hover {

                        background-color: #ffa2a2;
                        box-shadow: none;
                    }
                }

                .fa-trash {

                    background-color: $closeModal;

                    &:hover {

                        background-color: $danger;
                    }
                }

            }
        }

        .medias {

            text-align: center;

            span img {

                max-height: 8rem;
                width: auto;
            }

            .video {

                max-height: 8rem;
                width: auto;
            }
        }
    }

    main {

        article {

            margin: 0 auto;
        }

        .container {

            span.badge {

                background-color: #ebedef;
                display: inline-block;
                padding: 0.35em 0.65em;
                font-size: .75em;
                font-weight: 700;
                line-height: 1;
                color: $black;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
            }
        }
    }

    .hide {

        display: none;
    }

    overflow-x: hidden;

    .container-fluid {

        h2 {
            margin-left: 2rem;

        }

        h2.h2 {

            text-shadow:
                0 1px 1px #bbb,
                0 2px 0 #999,
                0 3px 0 #888,
                0 4px 0 #777,
                0 5px 0 #666,
                0 6px 0 #555,
                0 7px 0 #444,
                0 8px 0 #333,
                0 9px 7px #302314;
        }

    }

    .container {

        margin-top: 1rem;

        span.line {

            border-bottom: 1px solid $gray;
            display: flex;
            justify-content: center;
        }

        h3 {

            margin-top: 1rem;
            text-align: center
        }

    }

    .message {

        display: none;

        .alert {

            box-shadow: $shadow;
            padding: 1rem;
            border-radius: .5rem;
        }

        .alert-success {

            background-color: $success;
        }

        .alert-danger {

            background-color: $danger;
        }
    }

    .alert {

        box-shadow: $shadow;
        padding: 1rem;
        border-radius: .5rem;
    }

    .alert-success {

        background-color: $success;
    }

    .alert-danger {

        background-color: $danger;
    }

    .alert {

        box-shadow: $shadow;
        padding: 1rem;
        border-radius: .5rem;
    }

    .alert-success {

        background-color: $success;
    }

    .alert-danger {

        background-color: $danger;
    }
}