<!DOCTYPE html>
<html lang="fr" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('build/images/snowboarder.ico') }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    {% block stylesheets %}
    {{
      encore_entry_link_tags("app")
    }}
    {% endblock %} {% block javascripts %}
    {{
      encore_entry_script_tags("app")
    }}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {{ include("components/_navbar.html.twig") }}

    {% block header %}{% endblock header %} {% block mainContainer %}{% endblock
    mainContainer %} {% block footer %}{% endblock footer %} {% endblock %}
  </body>
</html>
