{% block header %}
<div class="header">
  <h2>
    Good Puff in Da face !!
  </h2>

  <i class="fa-solid fa-circle-arrow-down"></i>
  <img src="{{ asset('build/images/puff.jpg') }}" alt="image" />
</div>
<h1 class="mobile reponsive">Snowtricks</h1>
{% endblock header %}

