<div
  id="modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-modal="true"
  role="dialog"
  style="display: block; padding-right: 17px"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <p>Voulez-vous vraiment supprimer cette figure ?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-mdb-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
