<div
  id="modal-trick"
  class="modal-trick"
  aria-hidden="true"
  aria-labelledby="delete trick"
  style="display: none"
>
  <div class="modal-wrapper js-modal-propagation">
    <span class="js-close-modal" role="button">X</span>

    <h1 class="modal">⚠ Suppression</h1>
    <p>Êtes-vous sûr de vouloir supprimmer cette figure ?</p>    

    <button type="submit" class="secondary outline">Annuler</button>
    <button type="submit">Valider</button>
  </div>
</div>
